.about {
	@include container;
	@include break;
	padding: gutter(12);
	font-size: em(18);
	width: span(12);
	max-width: 1600px;

	@media all and (min-width: 600px) {
		width: span(10 of 12);
		padding: gutter(12) 0;
	}

	@media all and (min-width: 768px) {
		width: span(12);
		padding: gutter(12);
	}

	@media all and (min-width: 1200px) {
		width: span(10 of 12);
		padding: gutter(12) 0;
		font-size: em(20);
	}
}

.about-content {
	@include span(12);

	@media all and (min-width: 768px) {
		@include span(first 6);
	}
}

.about-block {
	@include span(12);
	@include break;
	background-color: $content-background-color;
	@include box-shadow($content-background-color);
	margin-bottom: gutter(12);
}

.about-block__text {
	padding: gutter(12);
}

.gallery {
	@include span(12);
	background-color: $content-background-color;
	@include box-shadow($content-background-color);
	margin-bottom: gutter(12);

	@media all and (min-width: 768px) {
		@include span(last 6);
	}
}

.gallery-items {
	padding: gutter(12);
}

.gallery-item {
	@extend .thumbnail;
	margin-bottom: gutter(12);

	@media all and (min-width: 450px) {
		@include gallery(6 of 12);
	}

	&:hover {
		cursor: zoom-in;
	}
}

.gallery-item__close {
	position: absolute;
	font-size: em(20);
	font-weight: bold;
	top: gutter(12);
	left: gutter(12);
	color: $secondary-font-color;
	background-color: $primary-color;
	padding: em(10);
	cursor: pointer; 
}

.gallery-item__modal {
	position: absolute;
	@include span(12);
	border: 1px solid #ccc;
	max-height: 90%;
	max-width: 90%;
	overflow: auto;
	padding: gutter(12);
	background-color: $content-background-color;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.gallery-item__modal-inner {
	position: relative;
}