$primary-color: #272727;
$secondary-color: #f5f5f5;
$background-color: $secondary-color;
$content-background-color: #fff;
$primary-font-color: #222;
$secondary-font-color: #fff;

$header-background-color: $primary-color;
$header-height: 65px;
$icon-size: 24;

$menu-background-color: $secondary-color;
$menu-header-background-color: #202020;
$menu-header-color: #736F68;

$menu-subtitle-size: 16;
$item-title-size: 22;

$logo-size: 24;
$logo-subtitle-size: 14;

$hero-border: 5px solid $primary-color;

$featured-font-size: 22;

$footer-height: 50px;
$footer-background-color: $primary-color;
$footer-color: $secondary-color;

$open-sans: 'Open Sans', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;